body{
	padding: 0px;
	margin: 0px;
	background: #E0E0E0;

}
div{
	background: white;
	
}

header{
	display: block;
	margin: 0px;
	padding: 10px;
	background: black;
	height: 50px;
}
header div{
	float: left;
	width: 170px;
	height: 50px;
	background: inherit;
}
header  div img{
	height: auto;
	width: 90%;
	
}

/*header a{
	width: 130px;
    height: 25px;
	float: left;
}
header nav ul{
	list-style: none;
	padding-right: 100px;
	height: 25px;
	padding-top:100px;
	margin-left: 320px;
}*/

header nav ul{
	list-style: none;
}
header nav li{
	margin:  auto 10px;
	display: block;
	float: right;

	
}
header nav li a{
	font-size: 13px;
	font-weight: bold;
	color: white;
	text-decoration: none;

	
}

div img{
	width: 40%;
	height: auto;
	
}
header nav li a:hover{
	color:  gray;
	
}
/*#a1:visited{
	color:  blue;
	
}
#a2:visited{
	color:  blue;
	
}
#a3:visited{
	color:  blue;
	
}
#a4:visited{
	color:  blue;
	
}*/
#top_img{
	float: left;
}
#table{
	width: 500px;
	height: 300px;
	border: 1px solid #e0e0e0;
	margin: 0 auto;
	text-align: center;
	border-collapse: collapse;
}

#table td{
	border: 1px solid #e0e0e0;

}

.button{
	position: relative;
	display: block;
	top: 10px;
	left: 30px;
	width: 80px;
	height: 20px;
	font-weight: bold;
	font-size: 15px;
	border: 1px gray;
	border-radius: 10px ;
	background: green;
	margin: 0 auto;
	box-shadow:5px 5px 5px #888888;
	
	
}

.c{
	border: 1px solid #AAAAAA ;
	margin: 10px 20px 10px 20px;
	box-shadow: 2px 2px 2px #AAAAAA;
	padding: 20px 20px;
	width: 750px;
	min-width: 500px;
}

.ce{
	font-size: 10px;
	width: 250px;
	height: 450px;
	position: fixed;
	border: 1px solid #AAAAAA ;
	
	box-shadow: 2px 2px 2px #AAAAAA;
	padding: 10px 10px;
	top: 80px;
	right: 20px;
	overflow:hidden;
}
.inupt_text{
	width:50px;
}
.line{
	width: 80%;
	height: 30px;
}
.box label{
	display: block;
	width: 80px;
	padding-left: 5px;
	text-align: right;
	float: left;
}
.inupt_text{
	width: 85px;
	margin-left: 5px;
	display: block;
	float: left;
}
.line_tishi{
	position: relative;	
	width: 80%;
	height: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 5px;
	color: gray;

}

.but{
	width: 200px;
	height: 50px;
	position: relative;
	top: 20px;
	bottom: -5px;

}
